---
// Libs
import { Image } from 'astro:assets';
// Component
import InputNumber from './InputNumber/index.astro';

// Mocks
import { PRODUCTS_CART } from '@app/mocks';

// Images
import ArrowIcon from '@app/components/icons/Carret/index';
interface ProductCartProp {
  imageURL: string;
  name: string;
  currency: string;
  amount: string;
}

export interface productCartItem {
  productCartItem: ProductCartProp;
}

const { productCartItem = {} } = Astro.props;

const positionStyle: string = [
  'absolute xs:right-[5px] sm:-right-[45px]',
].join();
---

<table class='w-full'>
  <thead>
    <tr
      class='grid grid-cols-4 text-left bg-desertStorm [&>*:nth-child(n)]:text-[12px] [&>*:nth-child(n)]:text-primary [&>*:nth-child(n)]:font-semibold'
    >
      <th></th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    {
      PRODUCTS_CART.map(({ imageURL, name, currency, amount }) => (
        <tr class='grid grid-cols-4 items-center gap-3 my-6'>
          <td>
            <Image
              src={imageURL}
              width={160}
              height={160}
              alt={`This is the image for ${name}`}
              class='object-contain w-[160px] h-full'
            />
          </td>
          <td>
            <p>{name}</p>
          </td>
          <td>
            <p>
              {currency}
              {amount}
            </p>
          </td>
          <td>
            <div class='relative w-[60px] sm:max-w-[113px]'>
              <span class={`${positionStyle} top-[5px]`}>
                <ArrowIcon />
              </span>
              <InputNumber
                min='1'
                max='300'
                step='1'
                value='1'
                className='sm:text-center bg-desertStorm py-2 w-7 min-w-2xl sm:w-[113px]'
              />
              <span class={`${positionStyle} bottom-[5px]`}>
                <ArrowIcon className='rotate-180' />
              </span>
            </div>
          </td>
        </tr>
      ))
    }
  </tbody>
</table>
