---
import { Image } from '@app/components';
import { Cart } from '@app/components/icons';

// Utils
import { formatDecimalNumber, generatePlaceholder } from '@app/utils';

// Types
import { type IProduct } from '@app/interfaces';

type Props = Pick<IProduct, 'name' | 'amount' | 'currency'> & {
  imageURL: string;
  href: string;
};

const { imageURL, name, currency, amount, href } = Astro.props;

// Styles CSS
const styleFigure: string[] = [
  'relative',
  'w-full',
  'h-full',
  'cursor-pointer',
];
const hoverStyles: string[] = [
  '[&:hover>div>.caption]:text-white',
  '[&:hover>.pesudo]:bg-black',
  '[&:hover>a>.cart-icon]:z-50',
  '[&:hover>a>.cart-icon]:left-[45%]',
  '[&:hover>a>.cart-icon]:top-[45%]',
  '[&:hover>a>.cart-icon]:block',
  '[&:hover>.pesudo]:opacity-[0.7]',
];
const captionStyles: string[] = [
  'after:absolute',
  'after:top-0',
  'after:block',
  'after:w-20',
  'after:h-[3px]',
  'after:bg-sun',
  'absolute',
  'z-10',
  'top-lg',
  'left-lg',
];
const transitionStyles: string[] = ['transition', 'duration-300'];
const styleLinkTagItems: string[] = [
  'pesudo',
  'absolute',
  'top-0',
  'w-full',
  'h-full',
  'z-[1]',
];
---

<figure class:list={[...styleFigure, ...hoverStyles]}>
  <Image
    src={imageURL}
    placeholderSrc={generatePlaceholder(250, 250)}
    sizes={'(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px'}
    width={250}
    height={250}
    alt={`This is the image for ${name}`}
    className='w-full h-full object-contain'
    client:visible
  />
  <div class:list={['pt-3', ...captionStyles]}>
    <figcaption
      class:list={['caption text-base text-sparingly', ...transitionStyles]}
    >
      From {currency}{formatDecimalNumber(amount)}
    </figcaption>

    <figcaption
      class:list={['caption text-2xl dark:text-black', ...transitionStyles]}
    >
      <span class='line-clamp-1'> {name}</span>
    </figcaption>
  </div>

  <a
    href={href}
    class:list={[...styleLinkTagItems, ...transitionStyles]}
    aria-label='Read more about'
  >
    <div class='absolute hidden cart-icon'><Cart /></div>
  </a>
</figure>
